<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ item.servername }}

{% if item.aliases is defined %}
    ServerAlias {{ item.aliases | join(' ') }}
{% endif %}

    DocumentRoot {{ item.docroot }}

    SetEnv CEP_CONTEXT local_sah

    <Directory "{{ item.docroot }}">
        AllowOverride All
        Options FollowSymlinks
        Require all granted

        RewriteEngine on
        RewriteBase {{ item.docroot }}

        DirectoryIndex index.php
    </Directory>

{% if item.proxypass is defined %}
    <Location {{ item.proxypass.path }}>
        ProxyPass http://{{ item.proxypass.url }}
        Require all granted
    </Location>
{% endif %}

    Header set Access-Control-Allow-Origin "*"

</VirtualHost>

{% if item.ssl is defined and item.ssl %}
<VirtualHost *:443>
    ServerAdmin webmaster@localhost
    ServerName {{ item.servername }}

{% if item.aliases is defined %}
    ServerAlias {{ item.aliases | join(' ') }}
{% endif %}

    DocumentRoot {{ item.docroot }}

    <Directory "{{ item.docroot }}">
        AllowOverride All
        Options FollowSymlinks
        Require all granted

        RewriteEngine on
        RewriteBase {{ item.docroot }}

        DirectoryIndex index.php
    </Directory>

{% if item.proxypass is defined %}
    <Location {{ item.proxypass.path }}>
        ProxyPass http://{{ item.proxypass.url }}
        Require all granted
    </Location>
{% endif %}

    Header set Access-Control-Allow-Origin "*"

    SSLEngine On
    SSLCertificateFile /etc/apache2/ssl/server.crt
    SSLCertificateKeyFile /etc/apache2/ssl/server.key
    SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown
</VirtualHost>
{% endif %}
