<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ item.servername }}

{% if item.aliases is defined %}
    ServerAlias {{ item.aliases | join(' ') }}
{% endif %}

    DocumentRoot {{ item.docroot }}

    SetEnv CEP_CONTEXT local_sah

    <Directory "{{ item.docroot }}">
        AllowOverride All
        Options FollowSymlinks
        Require all granted
        RewriteEngine on
        RewriteBase {{ item.docroot }}
    </Directory>

{% if item.proxypass is defined %}
    <Location {{ item.proxypass.path }}>
        ProxyPass http://{{ item.proxypass.url }}
        Require all granted
    </Location>
{% endif %}

    Header set Access-Control-Allow-Origin "*"

#    ErrorLog /vol_data_00/home/s.hofmann/logs/cep-t3-sah/error.log
#    CustomLog /vol_data_00/home/s.hofmann/logs/cep-t3-sah/access.log combined

#    php_flag log_errors on
#    php_value error_log /vol_data_00/home/s.hofmann/logs/cep-t3-sah/php_error.log

#    ScriptAlias /php5-cgi /usr/lib/cgi-bin/php5.3.7-cgi
#    Action application/x-httpd-php5 /php5-cgi
#    AddHandler application/x-httpd-php5 .php .php5 .php4 .php3 .phtml
</VirtualHost>

{% if item.ssl is defined and item.ssl %}
<VirtualHost *:443>
    ServerAdmin webmaster@localhost
    ServerName {{ item.servername }}

{% if item.aliases is defined %}
    ServerAlias {{ item.aliases | join(' ') }}
{% endif %}

    DocumentRoot {{ item.docroot }}

    <Directory "{{ item.docroot }}">
        AllowOverride All
        Options FollowSymlinks
        Order allow,deny
        Allow from all

        RewriteEngine on
        RewriteBase {{ item.docroot }}
    </Directory>

{% if item.proxypass is defined %}
    <Location {{ item.proxypass.path }}>
        ProxyPass http://{{ item.proxypass.url }}
        Require all granted
    </Location>
{% endif %}

    Header set Access-Control-Allow-Origin "*"

#    ErrorLog /vol_data_00/home/s.hofmann/logs/cep-t3-sah/error.log
#    CustomLog /vol_data_00/home/s.hofmann/logs/cep-t3-sah/ssl.log "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

#    php_flag log_errors on
#    php_value error_log /vol_data_00/home/s.hofmann/logs/cep-t3-sah/php_error.log

#    ScriptAlias /php5-cgi /usr/lib/cgi-bin/php5.3.7-cgi
#    Action application/x-httpd-php5 /php5-cgi
#    AddHandler application/x-httpd-php5 .php .php5 .php4 .php3 .phtml

    SSLEngine On
    SSLCertificateFile /etc/apache2/ssl/server.crt
    SSLCertificateKeyFile /etc/apache2/ssl/server.key
    SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown
</VirtualHost>
{% endif %}

