---
- name: Add ppa Repository
  become: yes
  apt_repository: repo=ppa:ondrej/{{ php.ppa }}
  when: php.ppa is defined and php.ppa is not none

- name: Update apt
  become: yes
  apt: update_cache=yes
  when: php.ppa is defined and php.ppa is not none

- name: Install php5
  become: yes
  apt: pkg=php5 state=latest

- name: Install PHP Packages
  become: yes
  apt: pkg={{ item }} state=latest
  with_items: php.packages
  when: php.packages is defined
  notify:
    - restart apache

- include: configure.yml
- include: pecl.yml
- include: phpbrew.yml
